<nav class="navbar fixed-bottom navbar-light bg-light">

    <div class="ml-auto" style="padding-right:15px">
        <div class="text-right">Version</div>
        <div class="text-right">Build Date</div>
        <div class="text-right">
            <a>Git Info</a>
        </div>
    </div>

</nav>
