<div class="dropdown" style="display: block;" v-if="enableSort || enableFilter">
    <a href="#" class="dropdown-toggle no-color" data-toggle="dropdown" v-on:click.prevent>{{ columnName }}</a>
    <i class="fa float-right" :class="sortIcon" v-if="sort" style="vertical-align:middle;"></i>
    <i class="fa float-right fa-filter" v-if="isFiltered" style="vertical-align:middle;"></i>
    <div class="dropdown-menu">
        <a class="dropdown-item" href="#" v-on:click.prevent="sortAscending"><i class="fa fa-sort-amount-asc"></i>&nbsp;Sort Ascending</a>
        <a class="dropdown-item" href="#" v-on:click.prevent="sortDescending"><i class="fa fa-sort-amount-desc"></i>&nbsp;Sort Descending</a>
        <a class="dropdown-item" href="#" v-on:click.prevent="clearSort"><i class="fa fa-close"></i>&nbsp;Clear Sort</a>

        <div class="dropdown-divider" v-if="enableSort && enableFilter"></div>
        <div v-if="enableFilter && filterType === constants.FILTER_TYPE.DROPDOWN">
            <a class="dropdown-item" href="#" v-for="filterOption in mFilterOptions" v-on:click.prevent="selectFilter(filterOption)" :class="{ active: currentFilter == filterOption }">&nbsp;{{ filterOption }}</a>
            <a class="dropdown-item" href="#" v-on:click.prevent="clearFilter"><i class="fa fa-close"></i>&nbsp;Clear Filter</a>
        </div>
        <div v-if="enableFilter && filterType === constants.FILTER_TYPE.DROPDOWN_COMPLEX">
            <a class="dropdown-item" href="#" v-for="filterOption in mFilterOptions" v-on:click.prevent="selectFilter(filterOption.value)" :class="{ active: currentFilter == filterOption.value }">&nbsp;{{ filterOption.display }}</a>
            <a class="dropdown-item" href="#" v-on:click.prevent="clearFilter"><i class="fa fa-close"></i>&nbsp;Clear Filter</a>
        </div>
        <div v-if="enableFilter && filterType === constants.FILTER_TYPE.TEXT">
            <div class="px-2 py-1">
                <label>Filter</label>
                <input class="form-control" type="text" v-model.lazy="currentFilter" />
            </div>
        </div>
        <div v-if="enableFilter && filterType === constants.FILTER_TYPE.DATE">
            <div class="px-2 py-1">
                <label>Start Date</label>
                <app-datepicker v-model="startDate"></app-datepicker>
            </div>
            <div class="px-2 py-1">
                <label>End Date</label>
                <app-datepicker v-model="endDate"></app-datepicker>
            </div>
        </div>
    </div>
</div>
<span v-else>
	{{ columnName }}
</span>