<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">Car Tracker</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
        <span class="navbar-toggler-icon"></span>
    </button>



    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <app-nav-link v-for="link in navigationLinks"
                          :key="link.id"
                          :linkId="link.id"
                          :name="link.name"
                          :link="link.link"
                          :subLinks="link.subLinks"></app-nav-link>
        </ul>

        <ul class="navbar-nav ml-auto">
            <app-nav-link v-for="link in rightNavigationLinks"
                          :key="link.id"
                          :linkId="link.id"
                          :name="link.name"
                          :link="link.link"
                          :subLinks="link.subLinks"
                          :right="true"></app-nav-link>
        </ul>
    </div>
</nav>	