<app-modal :title="title" ref="modal">
    <div v-if="possiblePlaces.length > 0">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th><app-column-header columnId="Place.Name" columnName="Name" :enableSort="false"></app-column-header></th>
                    <th><app-column-header columnId="Distance" columnName="Distance" :currentSort="currentSort" v-on:sort:update="sortUpdated" v-on:sort:clear="sortCleared"></app-column-header></th>
                </tr>
            </thead>
            <tbody>
                <app-trip-possible-places-row v-for="possiblePlace in possiblePlaces"
                                              :key="possiblePlace.placeId + '__' + possiblePlace.placeType"
                                              :possiblePlace="possiblePlace"
                                              v-on:trip:possible-place:selected="placeSelected">
                    
                </app-trip-possible-places-row>
            </tbody>
        </table>
        <app-pager :totalItems="totalItems" :currentPage="currentPage" :itemsPerPage="currentItemsPerPage" v-on:paging:update="pagingUpdated"></app-pager>
    </div>
    <div class="text-center" v-else>
        <p class="card-text">No Possible {{ typeDisplay }} are available for this trip!</p>
    </div>
</app-modal>
